<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jenkins CI/CD App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hello from Jenkins CI/CD Pipeline!</h1>
        <p>This Flask app was built and deployed using Docker and Jenkins.</p>
        <p>Create a Jenkinsfile in your project repo with steps to build and deploy the app.Configure Jenkins to trigger the pipeline on each code commit</p>
    </div>
</body>
</html>

